/** Hoja personalizada **/
@import url(https://fonts.googleapis.com/css?family=Signika:400,300,600);
@import url(https://fonts.googleapis.com/css?family=PT+Serif);
@keyframes cajamain{
	0%{



	}

	100%{



		 opacity: 0.5;
		 z-index: 2;

	}
}

@keyframes galefx{
	0%{ opacity: 0


	}




	100%{
		opacity: 1;

	}
}

@keyframes btn{
	0%{


	}

	100%{
		background-color: orange;
		color: white;

	}
}


.navfixed {
	position: fixed;
}


/**el h3 quedará exclusivamente para uso de cada thumbnail
de propiedades en la bafarra derecha**/

h3,.h3 {
font-family: 'Signika', sans-serif;


	 font-size: 20pt;

  	text-align: left;



  	font-weight: normal;
  	line-height: 1.1;
}
h2, .h2 {
		color: black;
		font-family: 'Signika', sans-serif;

	 	font-size: 24pt;



  	text-align: left;

		text-rendering: optimizeLegibility;

  	font-weight: 400;
  	line-height: 1.1;
}
h4,.h4 {
	color: black;


font-family: 'Signika', sans-serif;

  	text-indent: -1px;


 	 font-size: 20pt;
  font-weight: 400;
  line-height: 1.1;
}
.lefttext {
	text-align: left;

}

.hrlindo {
	border: 0;
	height: 1px;
	background: #333;


	background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.mainbanner {
	margin-top: 12px;
}

.imglogo {
	transform: scale(0.7,0.7);
	margin-top: -15px;
	position: static;
	float: left;
	margin-left: -20px;
}
.modelo {
	width: 90%;
	height: 490px;
}


.uno1 {


}
.uno2 {
padding-left: 5px;
}
.img-galeria {
	background-size: 100%;
	background-position: center;
}

.norespeto {
	position: absolute;
	z-index: 7;
	text-align: left;



}
.norespeto2 {
	position: absolute;
	z-index: 7;
	text-align: left;
	color: white;
}

.sombra {
	width: 100%;
	height: 490px;
	position: absolute;
	background-image: url(../imgs/shadow.png);
	background-size: 100% 100%;
	background-position: center;
	z-index: 3;

}
.backfoto {
	display: table;
  width: 100%;
  min-height: 500px;
	padding-left: 40px;


  color: black;
  background: url(../imgs/4puzzle.jpg) no-repeat top center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;



}

#metodo {
	margin-top:60px;
}
.backfoto p{
color: black;
font-size: 12pt;
font-weight: normal;
text-align: center;


}
.backfoto h2 {
	font-size: 36px;
	color: black;

}
.backfoto h3 {
	font-size: 18px;
	color: black;
	margin-bottom: 5px;
	text-align: center;
}

.propertycontact {
	display: table;
  width: 100%;
  min-height: 200px;
	padding-left: 40px;
background-image: url(../imgs/works2.png);
background-repeat: no-repeat;
background-color: white;
background-size: 100% ;
padding: 30px;
max-height: 850px;
background-position:  center;

}
.propertycontact p {

	margin-left: auto;
	margin-right: auto;
	color: black;
font-family: 'Signika', sans-serif;
	font-weight: normal;


	 font-size: 12pt;

}

.fondoA{
	background-image: url(../imgs/fotoA.jpg);
background-size: 120%;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
}
.fondoB{
	background-image: url(../imgs/fotoB.jpg);
background-size: 120%;
	background-repeat: no-repeat;
	position: center;
	height: 100%;
}
.fondoC{
	background-image: url(../imgs/fotoC.jpg);
background-size: 120%;
	background-repeat: no-repeat;
	background-position: top center;
	height: 100%;
}
.botonslide {
	width:140px;
	height: 45px;
	z-index:7;
	position: relative;
	font-size: 12pt;

	float: left;
	border: none;
	margin-top: 9px;
	border-radius: 9px;

	background-color: gray;
	color: white;
}
.cajaprincipal {
	height: 490px;

}
.cajaprincipal h2 {
	margin-left: 25px;
}

.cajaprincipal:hover .sombra {
	animation-name: cajamain;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-fill-mode:forwards;
	animation-timing-function: ease-out;
	}


.separator {
	background-color: #E5E4E4;
	height: 70px;
	padding-top: 2px;
}
.separator h2{
	margin-top: 14px;
	text-shadow: none;
	color: #111;
	margin-left: 25px;
}

.separator2 {
	background-color: #292728;
	height: 70px;
	padding-top: 2px;
}
.separator2 h2{
	margin-top: 14px;
	text-shadow: none;
	color: white;
	margin-left: 25px;
}


.gl1 {
	background-image: url(../imgs/house/casa1.jpg);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 245px;
	border-right: 5px solid ;
	border-color: white;
	opacity: 1;

}

.gl2 {
	background-image: url(../imgs/house/casa2.jpg);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;

	height: 245px;

}

.gl3 {
	background-image: url(../imgs/house/casa3.jpg);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	opacity: 1;
	margin-top: 5px;
	height: 240px;
	border-right: 5px solid ;
	border-color: white;
}

.gl4 {
	background-image: url(../imgs/house/casa4.jpg);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
		margin-top: 5px;
	height: 240px;
}

.gl5 {
	background-image: url(../imgs/house/casa5.jpg);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	opacity: .4;
	height: 245px;
}

.gl6 {
	background-image: url(../imgs/house/dep6.jpg);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	opacity: .4;
	height: 245px;
}

.damemas {


	background-color: rgba(210, 210, 210, 0.5);
	border-bottom: 2px solid orange;
	position: relative;
	height: 40px;
	text-align: center;
	font-size: 17px;
	font-weight: normal;
font-family: 'Signika', sans-serif;

	padding-top: 7px;
	cursor: pointer;

}

.parametros {
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;

	top:200px;
	color: white;
font-family: 'Signika', sans-serif;
	font-weight: normal;
	font-size: 12pt;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 20px;
	padding-bottom: 20px;


}


.damemas:hover {

	animation-name: btn;
	animation-duration: 0.4s;
	animation-iteration-count: 1;
	animation-fill-mode:forwards;
	animation-timing-function: ease-out;
}
.nomolestar {
	text-decoration: none;
}
.nomolestar a{

	color: white;
}
.nomolestar li{

	text-align: center;
	list-style-type: none;
	margin-left: -40px;
}
.damemas a{
	color: black;

}

.blancofondo {
	background-color: white;
	margin-top: -0px;
	border-bottom: 2px solid orange;
}

.motival {

	display: table;
	width: 100%;
	min-height: 500px;
	padding-left: 40px;
	box-shadow: 0px 6px 34px -14px rgba(0,0,0,1);
	margin-top: 60px;

	color: black;
	background: url(../imgs/peonreina.jpg) scroll;
	background-repeat: no-repeat;
	background-position: top right;;
	background-color: black;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;




}
.motival h3 {
	font-family: 'PT Serif', serif;
	font-size: 46pt;
	color: #fff;
	font-weight: lighter;
}

.frase {
		position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 160px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
		box-shadow: 0px 6px 34px -14px rgba(0,0,0,0.75);
}

.equipoimg {
	display: table;

	min-height: 500px;
	padding-left: 40px;

	margin-top: 0px;
	color: black;
	background: url(../imgs/equipo.jpg) no-repeat top right scroll;
	background-color: black;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;




}

.frase h3{
font-family: 'Signika', sans-serif;
	font-weight: 400;

	font-size: 28px;
	text-align: center;
}


.equipo1 {
height: 300px;

}


.team {
	padding: 10px;


}
.team img {
	margin-top: 20px;
	margin: 20px;
	margin-left: 60px;
	padding-left: 40px;

}

.team p {
	margin-top: -5px;
	text-align: justify;
	word-spacing: -1px;
	font-size: 12pt;
	margin-right: 16px;

}
.team h4 {
	padding: 25px;
}
.celdateam {
	height: 270px;
	margin-top: 20px;
	padding: 20px;
	padding-right: 30px;

	}

.celdateam2 {
	height: 270px;
	margin-top: 70px;
	padding: 20px;

	}
.celdateam p{
	padding: 25px;
	margin-top: 50px;

}

.mtop {
	margin-top: 25px;
	height: 300px;
}
.mtop p{
margin-top: -45px;
}

.mtop img{
	margin-top: 12px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.parrafoqs{
	color: white;
	width: 55%;
	margin-top: 20px;
	font-size: 15pt;
	font-family: 'Signika', sans-serif;
	font-variant: normal;
	margin-left: 23px;
	padding-right: 23px;
	text-align: justify;
	    text-justify: center inter-word;

}
.footbox{
	padding: 15px;
}

.redes {
	width: 40%;
		height: 90px;
		margin-left: 20px;

		border-radius: 45px;
}
.redes img {
	margin-left: 21%;

}
.redes:hover {
	animation-name: btn;
	animation-duration: 0.4s;
	animation-iteration-count: 1;
	animation-fill-mode:forwards;
	animation-timing-function: ease-out;
}
.barbuscar {
	border-radius: 3px;
	    border: none;
	    font-weight: 300;
	    box-shadow: none;
	    padding: 0.6875rem 1.0625rem;
	    height: 5.5rem;
	    width: 100%;
	    margin: 0;
			margin-left: auto;
			margin-right: auto;
}

.btnbuscar {
	width: 60%;
	height: 5.5rem;
	border-radius: 3px;
	margin-top: 0px;
	margin-bottom: 80px;
	border: none;
	background-color: green;
	color: white;
}

.margenin{
padding: 15px;
margin-top: auto;
margin-bottom: auto;
}
.footbox p{
	font-size: 12px;
font-family: 'Signika', sans-serif;
	font-weight: normal;
	margin-top: 20px;

}


.footermaster {
	background-color: #292728;
	padding-top: 30px;
	margin-top: 0px;


}
.whitetxt {
	color: white;
	text-align: center;
}
.whitetxt a{
	color: white;
	text-align: center;
}
.footmaster p h4{
	color: white;
}

.iconocalce {
	transform: scale(0.7,0.7);
	margin-top: -32px;
}
.iconocalce2 {
	transform: scale(0.8,0.8);

}

.iconocalce3 {
	transform: scale(0.65,0.65);
	margin-top: -32px;
}


.textoresena{
	max-width: 450px;
	margin-left: auto;
	margin-right: auto;
	height: 230px;
	background-image: url(../imgs/backletter.png);
	background-repeat: no-repeat;
	background-size: 100%;
	margin-bottom: 50px;
}
.textoresena p {
font-family: 'Signika', sans-serif;
	font-weight: normal;
	font-size: 14px;
	text-align: center;
	color: white;
	padding-left: 125px;
	padding-right: 45px;
	padding-top: 25px;
	line-height: 15px;
}

.texticon {
	text-align: center;
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	word-spacing: 3px;
}

.parametros:hover {
	animation-name: galefx;
	animation-duration: 0.4s;
	animation-iteration-count: 1;
	animation-fill-mode:forwards;
	animation-timing-function: ease-out;

}



@media screen and (max-width: 420px) {


	.cajaprincipal {
		height: 188px;

		}
	.sombra {
		display: none;
	}
	.gl1 {
		opacity: 1;
	}
	.gl2 {
		opacity: 1;
	}
	.gl3 {
		opacity: 1;
	}
	.gl4 {
		opacity: 1;
	}
	.gl5 {
		opacity: 1;
	}
	.gl6 {
		opacity: 1;
	}
}

@media screen and (max-width: 760px) {

	.team img {
		margin-top: 20px;
		margin: 20px;
		margin-left: 40px;
		padding-left: 40px;

	}
	.textoresena p {
		font-family: 'Signika', sans-serif;
		font-weight: normal;
	font-size: 14px;
	text-align: center;
	color: white;
	padding-left: 45px;
	margin-left: 90px;
	padding-right: 45px;
	padding-top: 32px;
	line-height: 15px;

		}

}




@media screen and (max-width: 435px) {

	.textoresena {

	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 311px;
	background-image: url(../imgs/backlettermobile.png);
	background-repeat: no-repeat;
	background-size: 100%;

	}

	.celdateam p{
		padding: 25px;
		margin-top: -90px;
		margin-left: 20px;

	}

	.motival h3 {
	font-family: 'PT Serif', serif;
	font-size: 36pt;
	color: #fff;
	font-weight: lighter;
}
	.propertycontact {

	background-position: top center;
	background-color: #CCC;

}
	.backfoto{  display: table;
  width: 100%;
  min-height: 500px;
	padding-left: 40px;


  color: black;
  background: url(../imgs/4puzzle.jpg) no-repeat top right ;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

	.parrafoqs {

		width: 85%;

	}
	.botonslide {
		display: none;
	}

	.textoresena p{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	text-align: center;
	color: white;
	margin-left: -11px;
	margin-right: -11px;
	margin-top: 20px;
	padding-top: 90px;
	line-height: 12px;


		}
		.team img {
			margin-top: 20px;
			margin: 20px;
			padding-left: 20px;

		}

	.imglogo {
	transform: scale(0.5,0.5);
	margin-top: -15px;
	position: static;
	float: left;
	margin-left: -40px;
}
	.parametros {
		opacity: 1;
		background-color: rgba(0, 0, 0, 0.5);


		top:200px;
		color: white;
	font-family: 'Signika', sans-serif;
		font-weight: normal;
		font-size: 11pt;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 0px;


	}
}
