/** Hoja personalizada **/

@keyframes cajamain{
	0%{	
		


	}

	100%{

		
		 
		 opacity: 0;
		 z-index: 0;

	}
}

@keyframes galefx{
	0%{ opacity: 0.31; 


	}

	40%{ 
		opacity: 1.1

	}
	70%{ 
		opacity: .9;


	}
	100%{
		opacity: 1;
	}
}

@keyframes btn{
	0%{  


	}

	100%{ 
		background-color: orange; 
		color: white;

	}
}


.navfixed {
	position: fixed;
}


/**el h3 quedará exclusivamente para uso de cada thumbnail 
de propiedades en la barra derecha**/

h3,.h3 {
	color: white;
}
h2, .h2 {
	color: black;
	font-family: 'Oswald', sans-serif;
 	 text-shadow: 1px 1px 2px #333;
  	text-indent: -1px;
  	text-align: left;
  

  	font-weight: 700;
  	line-height: 1.1;
}
h4,.h4 {
	color: black;

	text-shadow:none;
	font-family: 'Oswald', sans-serif;
  
  	text-indent: -1px;
 	 text-align: center;
  

  font-weight: 700;
  line-height: 1.1;
}
.lefttext {
	text-align: left;

}


.mainbanner {
	margin-top: 12px;
}

.imglogo {
	transform: scale(0.7,0.7);
	margin-top: -15px;
	position: static;
	float: left;
	margin-left: -20px;
}

.uno1 {

}
.uno2 {

}
.img-galeria {
	background-size: 100%;
	background-position: center;
}

.norespeto {
	position: absolute;
	z-index: 2;



}
.sombra {
	width: 100%;
	height: 340px;
	position: absolute;
	background-image: url(../imgs/shadow.png);
	background-size: 100% 100%;
	background-position: center;
	z-index: 3;

}


.cajaprincipal {
	height: 340px;


}
.cajaprincipal:hover .sombra {
	animation-name: cajamain;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-fill-mode:forwards;
	animation-timing-function: ease-out;
	}



.gl1 {
	background-image: url(../imgs/house/casa1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	height: 170px;
	opacity: .4;
	
}

.gl2 {
	background-image: url(../imgs/house/casa2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	opacity: .4;
	height: 170px;
	
}

.gl3 {
	background-image: url(../imgs/house/casa3.jpg);
	background-position: center;
	background-repeat: no-repeat;
	opacity: .4;
	height: 170px;
}

.gl4 {
	background-image: url(../imgs/house/casa4.jpg);
	background-position: center;
	background-repeat: no-repeat;
	opacity: .4;
	height: 170px;
}

.gl5 {
	background-image: url(../imgs/house/casa5.jpg);
	background-position: center;
	background-repeat: no-repeat;
	opacity: .4;
	height: 170px;
}

.gl6 {
	background-image: url(../imgs/house/dep6.jpg);
	background-position: center;
	background-repeat: no-repeat;
	opacity: .4;
	height: 170px;
}

.damemas {


	background-color: rgba(210, 210, 210, 0.5);
	border-bottom: 2px solid orange;
	position: relative;
	height: 40px;
	text-align: center;
	font-size: 17px;
	font-weight: 700;
	font-family: 'Cabin', sans-serif;
	padding-top: 7px;
	cursor: pointer;

}
.damemas:hover {

	animation-name: btn;
	animation-duration: 0.4s;
	animation-iteration-count: 1;
	animation-fill-mode:forwards;
	animation-timing-function: ease-out;
}

.damemas a{
	color: black;

}

.blancofondo {
	background-color: white;
	margin-top: -0px;
	border-bottom: 2px solid orange;
}

.motival {
	
	width: 100%;
	height: 305px;
	background-image: url(../imgs/relajofinanciero.jpg);
	background-size: 100%;
	background-position: center;
	background-repeat: repeat-y;
	position: relative;
	border-bottom: 2px solid orange;
	
	
	


}

.frase {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 160px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);

   

	

}

.frase h3{
	font-family: 'Cabin', sans-serif;
	font-size: 28px;
	text-align: center;
}

.team {
	padding: 30px;
	margin: 20px;
	border-bottom: 2px solid orange;
}

.team p {
	margin-top: -5px;
	text-align: justify;
	word-spacing: -1px;
	margin-left: 16px;
	margin-right: 16px;

}
.mtop {
	margin-top: 45px;
}

.mtop img{
	margin-top: 22px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
}


.footbox{
	padding: 15px;
}

.redes {

}
.redes:hover {
	animation-name: btn;
	animation-duration: 0.4s;
	animation-iteration-count: 1;
	animation-fill-mode:forwards;
	animation-timing-function: ease-out;
}
.barbuscar {
	border: 1px solid orange;
	border-radius: 3px;
	margin-left: 30px;
	float: right;
}

.btnbuscar {
	width: 100%;
	height: 35px;
	border-radius: 3px;
	margin-top: 10px;
}
.footbox p{
	font-size: 12px;
	font-family: monospace;
	margin-top: 20px;
	background-color: #ff6a00;
}


.footermaster {
	background-color: #ff6a00;
	padding-top: 30px;
	margin-top: -20px;

}
.whitetxt {
	color: white;
}
.footmaster p h4{
	color: white;
}

.iconocalce {
	transform: scale(0.7,0.7);
	margin-top: -32px;
}
.iconocalce2 {
	transform: scale(0.8,0.8);

}

.iconocalce3 {
	transform: scale(0.65,0.65);
	margin-top: -32px;
}


.textoresena{
	max-width: 450px;
	margin-left: auto;
	margin-right: auto;
	height: 230px;
	background-image: url(../imgs/backletter.png);
	background-repeat: no-repeat;
	background-size: 100%;
	margin-bottom: 50px;
}
.textoresena p {
	font-family: 'Cabin', sans-serif;
	font-size: 14px;
	text-align: center;
	color: white;
	padding-left: 125px;
	padding-right: 45px;
	padding-top: 25px;
	line-height: 15px;
}

.texticon {
	text-align: center;
	color: black;
	font-family: 'Cabin', sans-serif;
	font-size: 25px;
	word-spacing: 3px;
}

.gl1:hover{
	animation-name: galefx;
	animation-duration: 0.4s;
	animation-iteration-count: 1;
	animation-fill-mode:forwards;
	animation-timing-function: ease-out;

}

.gl2:hover{
	animation-name: galefx;
	animation-duration: 0.4s;
	animation-iteration-count: 1;
	animation-fill-mode:forwards;
	animation-timing-function: ease-out;

}

.gl3:hover{
	animation-name: galefx;
	animation-duration: 0.4s;
	animation-iteration-count: 1;
	animation-fill-mode:forwards;
	animation-timing-function: ease-out;

}

.gl4:hover{
	animation-name: galefx;
	animation-duration: 0.4s;
	animation-iteration-count: 1;
	animation-fill-mode:forwards;
	animation-timing-function: ease-out;

}

.gl5:hover{
	animation-name: galefx;
	animation-duration: 0.4s;
	animation-iteration-count: 1;
	animation-fill-mode:forwards;
	animation-timing-function: ease-out;

}

.gl6:hover{
	animation-name: galefx;
	animation-duration: 0.4s;
	animation-iteration-count: 1;
	animation-fill-mode:forwards;
	animation-timing-function: ease-out;

}

@media screen and (max-width: 420px) {
	
	
	.cajaprincipal {
		height: 218px;

		}
	.sombra {
		display: none;
	}
	.gl1 {
		opacity: 1;
	}
	.gl2 {
		opacity: 1;
	}
	.gl3 {
		opacity: 1;
	}
	.gl4 {
		opacity: 1;
	}
	.gl5 {
		opacity: 1;
	}
	.gl6 {
		opacity: 1;
	}
}

@media screen and (max-width: 760px) {
	
	
	.textoresena p {
	font-family: 'Cabin', sans-serif;
	font-size: 14px;
	text-align: center;
	color: white;
	padding-left: 45px;
	margin-left: 90px;
	padding-right: 45px;
	padding-top: 32px;
	line-height: 15px;

		}
	
}




@media screen and (max-width: 435px) {
	
	.textoresena {

	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 311px;
	background-image: url(../imgs/backlettermobile.png);
	background-repeat: no-repeat;
	background-size: 100%;

	}
	
	.textoresena p{
	font-family: 'Cabin', sans-serif;
	font-size: 13px;
	text-align: center;
	color: white;
	margin-left: -11px;
	margin-right: -11px;
	margin-top: 20px;
	padding-top: 90px;
	line-height: 12px;
	

		}

	.imglogo {
	transform: scale(0.5,0.5);
	margin-top: -15px;
	position: static;
	float: left;
	margin-left: -20px;
}
}

